.calendar-root {
  width: fit-content;
  color: black;
  margin: auto;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: auto;
  margin: 0.25rem auto;
  color: white;
}
.navigation button:not(.dark) {
  cursor: pointer;
}
.navigation button {
  width: 2em;
  height: 2em;
}

.calendar-root .day-abbr {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;

  width: fit-content;
  background-color: gray;
  margin: auto;
  color: white;

  border: solid black 1px;
}
.calendar-root .day-abbr > div {
  width: 1.75em;
  height: 1.75em;
  display: grid;
  place-items: center;
  background-color: black;
}

.calendar-root .calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  gap: 1px;

  background-color: gray;
  border: solid black 1px;

  width: fit-content;
  margin: auto;
  box-sizing: border-box;

  overflow: hidden;
  box-sizing: border-box;
}

.calendar-root .day-root {
  width: 1.75em;
  height: 1.75em;
  display: grid;
  place-items: center;

  background-color: white;
  box-sizing: border-box;

  cursor: pointer;
}
.calendar-root .day-root.past {
  cursor: not-allowed;
}
.calendar .day-root:hover:not(.day-root.active, .day-root.past) {
  background-color: black;
  color: white;
}

.day-root.active {
  background-color: var(--dang-red);
  color: white;
}

.day-root.other-month {
  color: rgb(32, 32, 32);
  background-color: rgb(228, 228, 228);
}
.day-root.past {
  background-color: rgb(190, 190, 190);
  color: rgb(163, 163, 163);
}

.calendar-root .month-pick {
  display: grid;
  place-items: center;
  transition: all 0.2s;
}

.calendar-root .month-pick:hover {
  filter: brightness(1.1);
}
