:root {
  --dang-red: #ee252f;
}

body {
  margin: 0;
  font-size: 18pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  font: inherit;
  padding: 0.5em;

  background-color: var(--dang-red);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  filter: saturate(0.7);
  cursor: not-allowed;
}
